<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/CSS/styles.css">
   
</head>
<body>
    <div class = "main-content">
        {{>header}}

       <img class="portrait" src = "image/wallee.jpg">
    </div>
     {{>footer}}
</body>
</html>