<!DOCTYPE html>
<html>
<head>

    <title>404</title>
    <link rel="icon" href="/image/weather.png">

    <link rel="stylesheet" href="/CSS/styles.css">

</head>
<body>
    
        <div class = "main-content">
    {{>headerError}}

    <h2>Erreur 404</h2>
    
        </div>

    {{>footerError}}
</body>
</html>